@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --primary-color:#6366F1;
    --accent-color:#3f83f8;
    --text-color:#333333;
    --link-color:#2563eb;
    --background-color:#ffffff;
    --light-gray:#f0f0f0;
    --gray:#808080;
    --dark-gray:#555;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding:0.1rem;
}

.header-content{
    max-width: 1280px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.header-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    gap:0.625rem;
}

.logo-icon{
    height:5.875rem ;
    width: 1.939rem;
}

nav{
    display: none;
    gap:1.5rem;
}

@media  (min-width:780px) {
    nav{
        display: flex;
    }
}

.nav-link{
    color:#718096;
    font-size:1.125rem;
    font-weight:600;
    transform:color 0.1s;
}

.nav-link:hover{
    color: var(--link-color);
}

.header-contact{
    border:none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    display: none;
}


@media(min-width:780px){
    .header-contact{
        display: block;
    }
}

.header-contact:hover{
    background-color: #5254f8;
}

.Menubutton{
display: block;
background-color: var(--background-color);
border: none;
}

@media(min-width:780px){
    .Menubutton{
        display: none;
    };
}

.menu_img{
    height: 1.5rem;
    width: 1.5rem;
}


.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap:2rem;
    padding:0.6rem;
    align-items: center;
    margin: 0 auto;
}

.content-left{
    text-align:center;
    animation:slideFromleft 1s ease forwards;
    opacity: 0;
}

@keyframes slideFromleft {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
    
}

.section-label{
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--primary-color);
}

.section-heading{
font-size: 2.3rem;
padding: 1.3rem;
color: var(--text-color);
font-weight: 700;
}

.section-para{
    font-size: 1.2rem;
    color: var(--gray);
}

.button-left{
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap:1rem
}

.start-button,.tour-button{
    border:none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    font-weight: 600;
}

.tour-button{
    background-color: var(--dark-gray);
}

.start-button:hover{
    background-color: var(--link-color);
}
.tour-button:hover{
    background-color: var(--text-color);
}

.content-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    border: none;
    overflow: hidden;
    border-radius: 1.2rem;
    height: 57vh;
}
.section-img{
    height: 100%;
    width: 100%;
}

@media(min-width:780px){
    .main-section{
        flex-direction: row;
        margin-top: 3rem;
    }
    .content-left{
        width: 50%;
        text-align: left;
    }
    .section-heading{
        padding-left: 0;
        text-align: left;
        font-size: 3.6rem;
    }
    .section-para{
        padding-left: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: left;
        width: 80%;
    }
    .button-left{
        justify-content: start;
    }
    .section-label{
        font-size: 1rem;
    }
    .image-container{
        height: 70vh;
    }

}



.mini-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.company-grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:3rem;
    padding: 1.5rem 2rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.6rem;
    animation:slideFromleft 1s ease forwards;
}

.comp{
    font-size: 1rem;
    gap:0.6rem;
    display: flex;
    font-weight: 600;
    color: var(--gray);
    justify-content: center;
    align-items: center;
}
.companies{
    height: 1.3rem;
}
.trustedby{
    font-size: 1.5rem;
    color: var(--text-color);
}

@media(min-width: 780px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
}


.feature-container{
    margin-top: 2rem;
    padding: 2rem 0;
    background-color: var(--light-gray);
}


.cards-container{
max-width: 800px;
margin: 0 auto;
padding: 0 2rem;

}

.cards-top-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards-heading{
    font-size: 2rem;
}

.cards-description{
    color: var(--gray);
    font-size: 1.1rem;
}

.cards-grid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    margin-top: 1.5rem;
}


.icon-container{
    height: 2rem;
    width: 2rem;
    background-color: var(--background-color);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.feature-icon{
    height: 1.5rem;
    width:1.5rem;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4a90e2;
    border-radius: 1.5rem;
    padding: 2rem;
    color: white;
    gap:1rem
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap:1rem
}

.feature-heading{
    font-weight: bold;
}


.cards:nth-child(2){
    background-color: #FF6289;
}
.cards:nth-child(3){
    background-color: #fcbf58;
}
.cards:nth-child(4){
    background-color: #44bfc3;
}
.cards:nth-child(5){
    background-color: #77b05d;
}
.cards:nth-child(6){
    background-color: #7d78b1;
}

@media (min-width:780px){
    .cards-grid{
        grid-template-columns: repeat(2,1fr);
    }
}

.testimonial-container{
    background-color: var(--background-color);
    max-width: 1280px;
    padding:  2rem;
    margin: 0 auto;
}

.testimonial-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap:1rem;
}

.testimonial-title{
font-size: 1.875rem;
font-weight: bold;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap:1.5rem;
}

.testimonial-cards{
    border:1px solid rgb(190, 178, 178);
    display: flex;
    flex-direction: column;
    border-radius:1rem;
    box-shadow: 0 2px 4px rgb(0,0,0,0.1);
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    padding: 0.3rem;
    gap:1rem;
}

.testimonial-cards:hover{
    transform: scale(1.05);
    box-shadow: 0 3px 4px rgb(0,0,0,0.2);
    border: 1px solid rgb(115, 115, 219);
}


.avatar{
    height: 5rem;
    width: 5rem;
}

.testimonial-text{
    color: var(--dark-gray);
}

.testimonial-detail h3{
    color: var(--primary-color);
    font-size: 1rem;
}

.testimonial-detail p{
font-size: 0.875rem;
color: #777;
}

.newsletter-container{
    max-width: 1280px;
    background-color: var(--background-color);
    padding: 2rem;
    height: 50vh;
    margin: 0 auto;
}

.newsletter-content{
    display: flex;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 8px;
}

.news-left{
    height: 100%;
    width: 50%;
    border-radius: 8px;
    overflow: hidden;
    display: none;
}

.news-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

@media(min-width:650px){
    .news-left{
        display: block;
    }
}
.news-info{
    padding: 0 2rem;
}

.news-right{
    display: flex;
    gap:1rem;
    padding: 1.2rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.news-info h2{
    font-size: 2.5rem;
    color: var(--primary-color);

}

.news-info p{
    text-align: left;
    color: #777;

}

.news-form{
    display: flex;
    padding: 0.3rem;
    background-color: var(--light-gray);
    gap:0.3rem;
    margin-left: 2rem;
}

.news-email{
    width: 100%;
    color:#333;
    border:1px solid #ccc;
    padding: 0.5rem 0.8rem;
    background-color: var(--background-color);
    border-radius: 5px;
    outline: none;
}

.news-email:focus{
    border-color: #2563eb;
    box-shadow: 0px 4px 8px rgb(0,0,0,0.1);
}

.news-btn{
    border:none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 0.75rem 1.5rem;
    font-weight: 600;

}

.news-btn:hover{
    background-color: var(--link-color);
}

.policy{
    font-size: 0.795rem;
    margin-left: 2rem;
    color: #777;
}


.news-left:hover .news-image{
    transform: scale(1.1);
}

.footer-container{
    max-width: 1280px;
    height: 50vh;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--background-color);
}

.footer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1rem;
    
}

.footer-top{
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3rem;
}

.footer-top-left{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:1rem
}

.footer-top-left p{
    color: var(--text-color);
    font-weight: 600;
}

.upper{
    display: flex;
    gap:1rem;
}

.footer-logo{
    height: 1.5rem;
    width: 1.5rem;
}


.socials{
    display: flex;
    gap:1rem
}


.insta img{
    height: 1.3rem;
    width: 1.3rem;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.footer-items{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

.footer-items h3{
    font-size: 1rem;
}

.footer-items ul{
    list-style-type: none;
}

.footer-items ul li{
    list-style-type: none;
    line-height: 2rem;
    color: var(--text-color);
    font-weight: 450;
}

.footer-top-right{
    width: 70%;
}

.footer-bottom{
    text-align: center;
    color: var(--text-color);
    margin-top: 2.5rem;
    font-weight: 500;
}